*{
	box-sizing: border-box;
}

hr{
	border:2px solid white;
}
/*--------------------------------------------------------id selectors---------------------------------------------------*/
#brand{
	font-family: 'RocknRoll One', sans-serif;
	font-size: 5.3vw;
	padding-left: 50px;
}

#nav-button{
	position: absolute;
	top: 4%;
	right: 4%;
}

#tab{
	font-size: 3.5vw;

}

#btw{
	width:50%;
	margin:5px auto;
	border:1px solid black; 
}

#tab_data{
	color: black;
	text-decoration: none;
	font-family:'Montserrat', sans-serif;
}

#heading{
	font-size:3.4vw;
	font-family: 'Montserrat', sans-serif;
}

#heading{
	margin: 3% auto 5%;
}

#chicken, #sushi, #beef{
	background-color: #C0C0C0;
	padding: 1% 3%;
	margin-bottom: 20px;
	border:2px solid black;
	height:auto;
	margin-left: 20px;
	margin-right: 10px;
}

#title_1, #title_2, #title_3{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2vw;
	border-top: 2px solid;
	border-bottom: 2px solid;
	margin: 10px auto 20px;
	padding: 30px auto;
}


#title_1{
	background-color: #FFA07A;
}
#title_2{
	background-color: #B22222;
}
#title_3{
	background-color: #F4A460; 
}

#content{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5vw;
}

#totop{
	color: blue;
	text-decoration: none;
}

/*------------------------------------------------------class selectors-------------------------------------------------*/
.navbar-brand{
	padding: 0px;
	margin: 0px 0px 15px;
	background-color: #C0C0C0;
	position: relative;
}

.col-12{
		margin-left: 10px;
		margin-right: 10px;
		width: 91%
	}



/*-------------------------------------------------psuedo class selectors------------------------------------------------*/

#tab_data:hover, #tab_data:active{
	color: red;
}

#totop:hover, #totop:active{
	text-decoration: underline;
}

/*------------------------------------------------------media queries----------------------------------------------------*/


@media (min-width: 576px) and (max-width:767px)
{
	#content{
		font-size: 2vw;
	}

	#title_1, #title_2, #title_3{
		font-size: 3vw;
	}

	#brand{
		font-size:6vw;
	}

	.col-sm-6 {
    	width: 44.6%;
    	margin-right: 0px;
  	}

  	.col-sm-6:nth-child(3n){
  		width: 95%;
  	}
}

@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-4 {
    	width: 29%;
    	margin-right: 0px;
	}
}

@media (min-width: 992px)
{
	.col-lg-4 {
    	width: 30%;
	}
}